<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.tlu.k64httt4.nhom24.udqlnhahangorderzone">

    <!-- Quyền cho Android 12 trở xuống -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Quyền cho Android 13 trở lên -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- Quyền kiểm tra kết nối mạng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Quyền cần thiết -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UDQLNhaHangOrderZone"
        tools:targetApi="31">
        <activity
            android:name=".Activity.ttPersonnelManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ttResetpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ttForgotpassswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ttSignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.phMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.paQuanLyMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.paSuaXoaMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.paThemMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManageTablesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VoucherActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.paAddNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.paOngoing"
            android:exported="false" />
        <activity
            android:name=".Activity.paPaymentActivity"
            android:exported="false" />

        <service
            android:name=".Activity.paMyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".Activity.ttLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>